.register {
  height: 100vh;
  background: linear-gradient(to top, rgba(207, 236, 188, 1), rgba(108, 176, 60, 1));
  display: flex;
  font-family: Tahoma;
  align-items: center;
  justify-content: center;

  .card {
    width: 656px;
    font-family: Tahoma;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 60px;
    overflow: hidden;

    .right {
      flex: 1;
      font-family: Tahoma;
      padding: 40px 70px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      h1 {
        color: rgb(4, 43, 14);
        font-family: Tahoma;
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: Tahoma;

        input {
          border: 1px solid rgb(230, 230, 230);
          padding: 10px 10px;
          font-family: Tahoma;
          border-radius: 10px;

          &::placeholder {
            font-family: Tahoma;
            color: rgb(4, 43, 14);
          }
        }
      }

      .toLogin {
        font-size: 12px;
        font-family: Tahoma;
        text-align: center;
      }

      button {
        width: 100%;
        font-family: Tahoma;
        padding: 10px;
        border: none;
        background-color: #5b975f;
        color: white;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        border-radius: 14px;
        transition: background-color 0.3s ease;

        &:hover {
          font-family: Tahoma;
          background-color: #305730;
        }
      }
    }

    .center {
      display: flex;
      font-family: Tahoma;
      justify-content: center;
    }
  }
}
