.login {
  height: 100vh;
  background: linear-gradient(to top, rgba(207, 236, 188, 1), rgba(108, 176, 60, 1));
  display: flex;
  font-family: Tahoma;
  align-items: center;
  justify-content: center;

  .card {
    width: 65%;
    font-family: Tahoma;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 670px;
    overflow: hidden;

    .right {
      flex: 4;
      font-family: Tahoma;
      background: linear-gradient(rgba(5, 22, 4, 1), rgba(108, 176, 60, 0.455)),
        url("https://t4.ftcdn.net/jpg/03/19/24/51/360_F_319245189_AJSNcOAn5mFp3XzhEHmaL4RaZq4rhQ4h.jpg")
          center;
      background-size: cover;
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      color: white;

      
      h1 {
        // Adiciona contorno (borda) às letras dos textos desejados
        text-shadow: 2px 2px 0 rgb(7, 31, 15);
        font-family: Tahoma;
        padding: 1px; // Adiciona algum espaço interno para o contorno
      }
      p{
        font-family: Tahoma;
        font-size: 20px;
      }

      h1 {
        font-size: 100px;
        font-family: Tahoma;
        line-height: 100px;
      }
      
      .Info{
        font-size: 25px;
        font-family: Tahoma;
      }

      span {
        font-size: 14px;
        font-family: Tahoma;
      }
      
      button {
        font-family: Tahoma;
        width: 60%;
        padding: 10px;
        border: none;
        background-color: rgb(51, 153, 76, 0.55);;
        color: rgb(255,255,255,0.55);
        font-weight: bold;
        cursor: pointer;
        align-items: left;
        border-radius: 14px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #305730;
          color: rgb(255,255,255);
        }
        
      }
    }

    .left {
      flex: 7;
      padding: 70px;
      display: flex;
      flex-direction: column;
      gap: 70px;
      justify-content: center;
      font-family: Tahoma;
      h1 {
      color: rgb(4, 43, 14);
      font-family: Tahoma;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid rgba(211, 211, 211, 0.74);
        padding: 20px 10px;
        }
        
        button {
        width: 100%;
        padding: 10px;
        font-family: Tahoma;
        border: none;
        background-color: #5b975f;
        color: white;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        border-radius: 14px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #305730;
        }
        }
      }
    }
  }
}
