@import "../../style.scss";
$dayModeColor: rgb(255, 255, 255),;
.home{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: $dayModeColor;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }

    div{
  
    }
  }
 }
 div{

 }