@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 1;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: #e7f0e1;
    color: themed("textColor");
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    @include mobile{
      display: none;
    }

    &::-webkit-scrollbar {
      width: none;  /* Largura da barra de rolagem no Chrome/Safari */
    }

    & {
      scrollbar-width: none;  /* Para o Firefox */
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
